#addfarm
  %h3 New Farm
  - farm = Farm.new
  #addfarmform
    - semantic_remote_form_for farm, |
      :loading => "$('#add_spinner').show();", |
      :loaded => "$('#add_spinner').hide();", |
      :update => 'farmlist', |
      :position => 'bottom', |
      :failure => "alert('Unable to create, status ' + request.status)", |
      :complete => [ |
        visual_effect(:highlight, dom_id(farm, 'row')) |
        ] do |f| |
      - f.inputs do
        = f.input :name
        = f.input :description
      - f.buttons do
        = f.commit_button
      = image_tag 'ajax-loader.gif', :style => 'display: none;', :id => 'add_spinner'