log/*
tmp/*
tmp/**/*
db/schema.rb
db/*.sqlite3
public/system
assets/*
*.DS_Store
coverage/*
coverage.data
*.swp

!.keep
rerun.txt
files/*
db/sphinx/*
.sass-cache/*
app/stylesheets/.sass-cache/*
public/stylesheets/compiled/*
work_development/*
config/development.sphinx.conf
