#addcluster
  %h3 New Cluster
  - cluster = Cluster.new
  #addclusterform
    - semantic_remote_form_for cluster, |
      :loading => "$('#add_spinner').show();", |
      :loaded => "$('#add_spinner').hide();", |
      :update => 'clusterlist', |
      :position => 'bottom', |
      :failure => "alert('Unable to create, status ' + request.status)", |
      :complete => [ |
        visual_effect(:highlight, dom_id(cluster, 'row')) |
        ] do |f| |
      - f.inputs do
        = f.input :name
        = f.input :description
        = f.commit_button
        = image_tag 'ajax-loader.gif', :style => 'display: none;', :id => 'add_spinner'