- title "VIP"

.itemdetail
  %fieldset#generalinformation
    %legend General Information
    %ul
      %li
        %label Name
        =h @vip.name
      %li
        %label Description
        =h @vip.description
      %li
        %label Load Balancer
        =link_to @vip.load_balancer.name, @vip.load_balancer if @vip.load_balancer
      %li
        %label IP
        =link_to @vip.ip.name, @vip.ip if @vip.ip
      %li
        %label Port
        =link_to @vip.port.name, @vip.port if @vip.port
      %li
        %label Notes
        =h @vip.notes
      %li
        %label State
        =h @vip.state

%p
  = link_to "Edit", edit_vip_path(@vip)
  |
  = link_to "Destroy", @vip, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", vips_path
