#altformats
  / %h3 Export
  %fieldset#export
    %legend Export
    / = link_to 'XLS', :format => :xls
    / |
    = link_to 'CSV', :format => :csv
    |
    = link_to 'XML', :format => :xml
    |
    = link_to 'YML', :format => :yaml
