- title "Email"

%p
  %strong Name:
  =h @email.name
%p
  %strong Domain:
  =link_to @email.domain.name, @email.domain if @email.domain
%p
  %strong Project:
  =link_to @email.project.name, @email.project if @email.project

%p
  = link_to "Edit", edit_email_path(@email)
  |
  = link_to "Destroy", @email, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", emails_path
